@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  min-height: 740px;
  font-size: 18pt;

  background-color: #085987;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.5, rgba(255,255,255,.07)), color-stop(0.5, transparent));
  background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%);
  background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%);
  background-image: -o-linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%);
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;     
}

#logo {
 background-size: 301px 50px;
 padding: 0.25em;
 color: #085987; /* OTS Blue */
 font-weight: 700;
 font-size: 1.3em;
 position: fixed;
 right: 0;
 bottom: 0;
}

/*
    Now let's bring some text styles back ...
*/

b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
  color: #1F8AB6;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255,255,255,0.5);
  /*text-shadow: -1px -1px 2px rgba(100,100,100,0.9);*/
  border-radius: 0.2em;

  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

a:hover,
a:focus {
  color: #2FB0D5;
  background: rgba(255,255,255,1);
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.

    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?

    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
  line-height: 1.3em;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  font-family: 'Open Sans', sans-serif;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  font-size: 48px;
  line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  opacity: 0.7;

  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  width: 900px;
  height: 700px;
  padding: 40px 60px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

  color: rgb(56, 56, 56);
  /* text-shadow: 0 2px 2px rgba(0, 0, 0, .1); */

  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: -1px;
}


.slide h2 {
  color: #085987;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 2.3em;
}

.slide p {  
  font-size: 1.4em;
  line-height: 1.6em;
}

.smaller {
  font-size: 0.8em;
}

.long {
  font-size: 0.6em !important;
}

.lab {
  background-color: rgb(244, 244, 244);
}

.email-link {
  font-size: 1em !important;
  color: black !important;
}

#title {
    padding: 0;
    opacity: 1.0 !important;
    position: relative;
    top: -14em;
}

#title .try {
    font-size: 1.9em;
    line-height: 2.0em;
    position: absolute;
    top: -0.6em;
    left: -1.9em;
    color: rgb(0, 0, 0);;
    /* text-shadow: 4px 4px 5px #333; */

    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

#title h1 {
    font-size: 4.0em;
    font-weight: 700;
    position: absolute;
    left: 0.6em;
    top: 0.6em;
    /* text-shadow: 4px 4px 5px #333; */

    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

/* chrome workaround */
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
